*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  display: inline-block;
  text-decoration: none;
  color: white;
}
img {
  width: 50px;
  vertical-align: middle;
}
p {
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
}
div {
  width: 250px;
  background-color: rgb(100, 100, 100);
  padding: 10px;
  cursor: pointer;
  margin: auto;
}
div:hover {
  background-color: rgb(50, 50, 50);
}
